/* Glow On Hover Back Background */

.glow-on-hover {
    width: auto;
    height: auto;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 20px;
    background: #000;
    cursor: pointer;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


/* Glow On Hover WHITE Background */

.glow-on-hover-white {
    width: auto;
    height: auto;
    border: none;
    outline: none;
    color: #000;
    padding: 10px 30px;
    background: #fff;
    cursor: pointer;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover-white:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover-white:active {
    color: #fff
}

.glow-on-hover-white:active:after {
    background: transparent;
}

.glow-on-hover-white:hover:before {
    opacity: 1;
}

.glow-on-hover-white:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.bg-gradient {
    background: linear-gradient(226.78deg, rgba(191, 247, 205, 0.5) 13.11%, #FFFFFF 24.2%, #FFFFFF 77.27%, rgba(191, 247, 205, 0.5) 89.22%);
    min-height: calc(100vh - 64px);
}

gradient-text--animated {
    animation: textGradient 6s linear infinite reverse;
}
.gradient-text {
    background: linear-gradient(90deg,#f25533 20%,#7291ff 40%,#7291ff 60%,#f25533 80%);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% auto;
    color: transparent;
}